{{quiz/question

	question = currentQuestion
	selectedAnswer = selectedAnswer	
	currentQuestionIndex = currentQuestionIndex
	questionnaireLength = questionnaireLength
	questionnaireScore = questionnaireScore
	currentQuestionNum = currentQuestionNum
	timer = timer
	isChecked = isChecked
}}
<form class="quizContainer">
	<div class="quizContainerButtons">
		{{#if isChecked}}
			<button type="submit" {{action "submitAnswer"}}>Submit answer</button>
		{{else}}
			<button type="submit" {{action "submitAnswer"}} class="buttonDisabled" disabled>Submit answer</button>
		{{/if}}
	</div>
</form>
<p style="font-size: 20px"><strong>{{responseMessage}}</strong></p>
<div>Score: {{quizScore}} </div>


